@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes cd-pulse {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    transform: translateY(-50%) scale(0);
    opacity: 0; } }

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1rem; }
  .social-icons li {
    display: inline-block;
    margin: .15rem;
    position: relative;
    font-size: 1.3rem; }
    @media screen and (min-width: 480px) {
      .social-icons li {
        font-size: 1.6rem; } }
  .social-icons i {
    color: #2A3A3F;
    position: absolute;
    transition: all 200ms ease-out;
    top: 6px;
    left: 6px; }
    @media screen and (min-width: 480px) {
      .social-icons i {
        top: 19px;
        left: 19px; } }
  .social-icons a {
    display: inline-block; }
    .social-icons a:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: '';
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, #ffffff, #cccccc);
      transition: all 200ms ease-out;
      width: 30px;
      height: 30px; }
      @media screen and (min-width: 480px) {
        .social-icons a:before {
          width: 60px;
          height: 60px; } }
    .social-icons a:hover:before {
      transform: scale(0);
      transition: all 200ms ease-in; }
    .social-icons a:hover i {
      transform: scale(1.7);
      -ms-transform: scale(1.7);
      -webkit-transform: scale(1.7);
      color: #ffffff;
      background: -webkit-linear-gradient(45deg, #ffffff, #cccccc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 200ms ease-in; }

html {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #4e4e4e;
  background-color: #2A3A3F; }

h1 {
  text-transform: uppercase;
  text-align: center;
  color: #2A3A3F;
  font-size: 2rem; }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 5rem; } }
  @media screen and (max-width: 599px) and (min-width: 480px) {
    h1 {
      font-size: 2.5rem; } }

.landing {
  height: 115vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 400px;
  font-weight: bold;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #2A3A3F;
  display: table;
  font-size: 1.5rem; }
  @media screen and (min-width: 600px) {
    .landing {
      font-size: 3.5rem; } }
  @media screen and (max-width: 599px) and (min-width: 480px) {
    .landing {
      font-size: 2.5rem; } }
  .landing:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 100vw solid #fff;
    border-top: 14vh solid transparent; }
  .landing:before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgba(49, 61, 65, 0.6), rgba(49, 61, 65, 0.6)); }
  .landing .intro {
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
    position: relative;
    padding: 0 5px 20vh; }
  .landing .typewriter .wrap:after {
    border-right: .08em solid #fff;
    animation: cd-pulse 1s infinite;
    content: ' ';
    width: 1px; }

.whoami {
  overflow: hidden;
  background-color: #ffffff;
  padding: 0 10px 20px; }
  @media screen and (min-width: 480px) {
    .whoami {
      padding: 0 50px 20px; } }
  .whoami .content {
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative; }
    .whoami .content h1 {
      margin-bottom: 10px; }
    .whoami .content p {
      margin: 10px 0; }
    .whoami .content .right {
      display: inline-block; }
      @media screen and (min-width: 600px) {
        .whoami .content .right {
          padding-left: 20px; } }
      .whoami .content .right img {
        height: 200px;
        width: auto; }
    .whoami .content .left {
      vertical-align: top;
      display: inline-block;
      text-align: left; }
    .whoami .content a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      vertical-align: bottom;
      margin: 0;
      color: inherit;
      color: #2A3A3F;
      font-weight: 700;
      display: inline-block;
      overflow: hidden; }
      .whoami .content a:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #2A3A3F;
        transform: translateX(-100%) translateY(calc(100% - 2px));
        opacity: 0; }
      .whoami .content a:after {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #2A3A3F;
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(100%) translateY(calc(100% - 2px));
        opacity: 1; }
      .whoami .content a:hover:before {
        transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(0%) translateY(calc(100% - 2px));
        opacity: 1; }
      .whoami .content a:hover:after {
        transition: none;
        transform: translateX(0%) translateY(calc(100% - 2px));
        opacity: 0; }

.contact {
  text-align: center;
  position: relative;
  background-color: #2A3A3F; }
  .contact:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 100vw solid #2A3A3F;
    border-top: 14vh solid #ffffff; }
  .contact .content {
    z-index: 10;
    padding: 14vh 5px 0; }
    .contact .content h1 {
      color: #cccccc; }
