@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes cd-pulse {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 1; }
  40% {
    transform: translateY(-50%) scale(0.9);
    opacity: 0; }
  100% {
    transform: translateY(-50%) scale(0);
    opacity: 0; } }

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1rem; }
  .social-icons li {
    display: inline-block;
    margin: .15rem;
    position: relative;
    font-size: 1.6rem; }
  .social-icons i {
    color: #2A3A3F;
    position: absolute;
    top: 19px;
    left: 19px;
    transition: all 200ms ease-out; }
  .social-icons a {
    display: inline-block; }
    .social-icons a:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, #ffffff, #cccccc);
      transition: all 200ms ease-out; }
    .social-icons a:hover:before {
      transform: scale(0);
      transition: all 200ms ease-in; }
    .social-icons a:hover i {
      transform: scale(1.7);
      -ms-transform: scale(1.7);
      -webkit-transform: scale(1.7);
      color: #ffffff;
      background: -webkit-linear-gradient(45deg, #ffffff, #cccccc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 200ms ease-in; }

html {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #4e4e4e;
  background-color: #2A3A3F; }

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  color: #2A3A3F; }

.landing {
  height: 115vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 400px;
  font-size: 3.5rem;
  font-weight: bold;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #2A3A3F;
  display: table; }
  .landing:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 100vw solid #fff;
    border-top: 14vh solid transparent; }
  .landing:before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgba(49, 61, 65, 0.6), rgba(49, 61, 65, 0.6)); }
  .landing .intro {
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
    position: relative;
    padding-bottom: 20vh; }
  .landing .typewriter .wrap:after {
    border-right: .08em solid #fff;
    animation: cd-pulse 1s infinite;
    content: ' ';
    width: 1px; }

.whoami {
  overflow: hidden;
  background-color: #ffffff;
  padding: 0 50px 20px; }
  .whoami .content {
    width: 100%;
    overflow: hidden;
    text-align: center; }
    .whoami .content p {
      margin: 10px 0; }
    .whoami .content .left,
    .whoami .content .right {
      float: left; }
    .whoami .content .left {
      display: inline-block;
      width: 25%; }
      .whoami .content .left img {
        max-width: 50%; }
    .whoami .content .right {
      width: 75%;
      margin-top: 15px;
      display: inline-block;
      text-align: left; }

.contact {
  text-align: center;
  position: relative;
  background-color: #2A3A3F; }
  .contact:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 100vw solid #2A3A3F;
    border-top: 14vh solid #ffffff; }
  .contact .content {
    z-index: 10;
    padding-top: 14vh; }
    .contact .content h1 {
      color: #cccccc; }
