.landing {
  height: 115vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 400px;
  font-weight: bold;
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $primary;
  display: table;
  font-size: 1.5rem;
  @media screen and (min-width: 600px) {
    font-size: 3.5rem;
  }
  @media screen and (max-width: 599px) and (min-width: 480px) {
    font-size: 2.5rem;
  }

  i {
    font-style: normal;
    color: lighten($primary, 50%);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 100vw solid #fff;
    border-top: 14vh solid transparent;
  }

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
  }

  .intro {
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
    position: relative;
    padding: 0 5px 20vh;
  }

  .typewriter .wrap:after {
    border-right: .08em solid #fff;
    animation: cd-pulse 1s infinite;
    content: ' ';
    width: 1px;
  }
}
