$timing: 200ms;
$iconColor: #ffffff;
$accent: darken($iconColor, 20%);
@mixin transformScale($size: 1) {
  transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1rem;

  li {
    display: inline-block;
    margin: .15rem;
    position: relative;
    font-size: 1.3rem;
    @media screen and (min-width: 480px) {
      font-size: 1.6rem;
    }
  }

  i {
    color: $primary;
    position: absolute;
    transition: all $timing ease-out;
    top: 6px;
    left: 0;
    right: 0;
    @media screen and (min-width: 480px) {
      top: 19px;
      left: 0;
      right: 0;
    }
  }

  a {
    display: inline-block;

    &:before {
      @include transformScale();
      content: '';
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, $iconColor, $accent);
      transition: all $timing ease-out;
      width: 30px;
      height: 30px;
      @media screen and (min-width: 480px) {
        width: 60px;
        height: 60px;
      }
    }

    &:hover:before {
      transform: scale(0);
      transition: all $timing ease-in;
    }

    &:hover i {
      @include transformScale(1.7);
      color: $iconColor;
      background: -webkit-linear-gradient(45deg, $iconColor, $accent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all $timing ease-in;
    }
  }
}
