.whoami {
  overflow: hidden;
  background-color: #ffffff;
  padding: 0 10px 20px;
  @media screen and (min-width: 480px) {
    padding: 0 50px 20px;
  }

  .content {
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;

    h1 {
      margin-bottom: 10px;
    }

    p {
      margin: 10px 0;
    }

    .right {
      display: inline-block;
      @media screen and (min-width: 600px) {
        padding-left: 20px;
      }

      img {
        height: 300px;
        width: auto;
      }
    }

    .left {
      vertical-align: top;
      display: inline-block;
      text-align: left;
    }

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      vertical-align: bottom;
      margin: 0;
      color: inherit;
      color: $primary;
      font-weight: 700;
      display: inline-block;
      overflow: hidden;

      &:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $primary;
        transform: translateX(-100%) translateY(calc(100% - 2px));
        opacity: 0;
      }

      &:after {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $primary;
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(100%) translateY(calc(100% - 2px));
        opacity: 1;
      }

      &:hover {
        &:before {
          transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
          transform: translateX(0%) translateY(calc(100% - 2px));
          opacity: 1;
        }

        &:after {
          transition: none;
          transform: translateX(0%) translateY(calc(100% - 2px));
          opacity: 0;
        }
      }
    }
  }
}
