.whoami {
  overflow: hidden;
  background-color: #ffffff;
  padding: 0 50px 20px;

  .content {
    width: 100%;
    overflow: hidden;
    text-align: center;

    p {
      margin: 10px 0;
    }

    .left,
    .right {
      float: left;
    }

    .left {
      display: inline-block;
      width: 25%;

      img {
        max-width: 50%;
      }
    }

    .right {
      width: 75%;
      margin-top: 15px;
      display: inline-block;
      text-align: left;
    }
  }
}
